# Dependencies
node_modules/

# Output and build
dist/
out/
*.tgz
*.tsbuildinfo

# Code coverage
coverage/
*.lcov

# Logs
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment and secrets
.env
.env.local
.env.*

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Metadata
.DS_Store
Thumbs.db

# Database / Local services
/generated/prisma
db_data/

# Fallow
.fallow/
.fallow.toml

# Uploads
public/uploads/
